.tabContent {
  margin-top: 20px;
}

form {
  margin-top: 2rem;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
}

.powerContainer {
  background-color: #acb0b2;
  width: 30%;
  height: 15px;
  border-radius: 5px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.powerPoint {
  height: 100%;
  border-radius: 5px;
  transition: 0.5s;
}

.strengthText {
  margin-left: 10px;
  font-weight: bold;
}
